.background_image {
    margin: 0;
    padding: 0;
    position: absolute;
    /* added */
    z-index: 1;
    /* added above */
    top: 0;
    left: 0;
    bottom: 0;
    /* Photo by Kammeran Gonzalez-Keola from Pexels: */
    background:
        url("/background-images/homepage-background.webp") no-repeat center center fixed;
    background-size: cover;
    object-fit: cover;
    /* width: 100%;
    height: 100%; */
    width: 100dvw;
    height: 100dvh;
}

.background_image_with_transparency {
    margin: 0;
    padding: 0;
    position: absolute;
    /* added */
    z-index: 1;
    /* added above */
    /* Photo by Kammeran Gonzalez-Keola from Pexels, edited with GIMP: */
    background:
        url("/background-images/homepage-background-with-transparency.webp") no-repeat center center fixed;
    background-size: cover;
    object-fit: cover;
    /* width: 100%;
    height: 100%; */
    width: 100dvw;
    height: 100dvh;
    filter: url(#turbulence);
    /* animation: vibrate-fast 5.2s ease-out 2s infinite normal none; */
}

/* @keyframes vibrate-fast {

    0% {
        transform: translate(0);
    }

    10% {
        transform: translate(-2px, -2px);
    }

    20% {
        transform: translate(2px, -2px);
    }

    30% {
        transform: translate(-2px, 2px);
    }

    40% {
        transform: translate(2px, 2px);
    }

    50% {
        transform: translate(-2px, -2px);
    }

    60% {
        transform: translate(2px, -2px);
    }

    70% {
        transform: translate(-2px, 2px);
    }

    80% {
        transform: translate(-2px, -2px);
    }

    90% {
        transform: translate(2px, -2px);
    }

    100% {
        transform: translate(0);
    }
} */

@media only screen and (max-width: 375px) and (max-height: 690px) and (orientation: portrait) {
   .background_image_with_transparency {
    display: none;
    filter: none;
   }
}

@media only screen and (max-width: 992px) and (orientation: portrait) {
    .background_image {
        /* Photo by Kammeran Gonzalez-Keola from Pexels: */
        background: url("/background-images/homepage-background.webp") no-repeat 25% bottom fixed;
        background-size: cover;
        object-fit: cover;
    }

    .background_image_with_transparency {
        /* Photo by Kammeran Gonzalez-Keola from Pexels, edited with GIMP: */
        background: url("/background-images/homepage-background-with-transparency.webp") no-repeat 25% bottom fixed;
        background-size: cover;
        object-fit: cover;
        filter: url(#turbulence);
    }
}

@media only screen and (max-width: 690px) and (orientation: landscape) {
    .background_image_with_transparency {
        display: none;
        filter: none;
    }
}

@media only screen and (max-width: 1020px) and (orientation: landscape) {
    .background_image {
        /* Photo by Kammeran Gonzalez-Keola from Pexels: */
        background: url("/background-images/homepage-background.webp") no-repeat 90% top fixed;
        background-size: cover;
        object-fit: cover;
    }

    .background_image_with_transparency {
        /* Photo by Kammeran Gonzalez-Keola from Pexels, edited with GIMP: */
        background: url("/background-images/homepage-background-with-transparency.webp") no-repeat 90% top fixed;
        background-size: cover;
        object-fit: cover;
        filter: url(#turbulence);
    }
}