.container {
    top: 0;
    left: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    gap: 14vw 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    padding: 7.5vw;
}

.container_name {
    align-self: flex-start;
}

.container h1 {
    margin: 0;
    padding: 0;
    line-height: clamp(3.2rem, 2.4400rem + 3.8000vw, 7rem);
    /* font-family: "Soulmaze-Italic"; */
    /* font-family: "Soulmaze"; */
    font-style: italic;
    text-align: left;
    font-size: clamp(3.7rem, 2.6400rem + 5.3000vw, 9rem);
    color: #FF6565;
}

.container h2 {
    margin: 0;
    padding: 0;
    text-align: right;
    /* font-family: "Soulmaze"; */
    font-style: italic;
    color: #FCF200;
    font-size: clamp(1.5rem, 1.0800rem + 2.1000vw, 3.6rem);
    align-self: end;
}

.container_actionquote {
    display: flex;
    flex-direction: column;
    /* font-family: "Soulmaze-Brush"; */
    font-style: italic;
    align-self: flex-end;
}

.container_actionquote blockquote {
    margin: 0;
    padding: 0;
    text-align: right;
    font-size: clamp(0.95rem, 0.8260rem + 0.6200vw, 1.57rem);
    color: #ffffff;
}

.container_button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.container_actionquote button {
    padding: 0;
    text-align: right;
    /* font-family: "Soulmaze-Brush"; */
    font-weight: bolder;
    background-color: transparent;
    overflow: hidden;
    border: none;
    cursor: pointer;
    color: #FF6565;
    font-size: clamp(0.95rem, 0.8260rem + 0.6200vw, 1.57rem);
    animation: vibrate-fast 5.2s ease-out 2s infinite normal none;
}

@keyframes vibrate-fast {

    0% {
        transform: translate(0);
    }

    10% {
        transform: translate(-2px, -2px);
    }

    20% {
        transform: translate(2px, -2px);
    }

    30% {
        transform: translate(-2px, 2px);
    }

    40% {
        transform: translate(2px, 2px);
    }

    50% {
        transform: translate(-2px, -2px);
    }

    60% {
        transform: translate(2px, -2px);
    }

    70% {
        transform: translate(-2px, 2px);
    }

    80% {
        transform: translate(-2px, -2px);
    }

    90% {
        transform: translate(2px, -2px);
    }

    100% {
        transform: translate(0);
    }
}


.container_effect:hover {
    filter: url(#turbulence);
}

.container_effect:hover h1 {
    color: #ce5252;
}

.container_effect:hover h2 {
    color: #bfb800;
}

.container_effect:hover blockquote {
    color: #c4f3f3;
}

.container_effect:hover button {
    color: #ce5252;
}

@media only screen and (max-width: 600px) and (orientation: portrait) {
    .container_name {
        align-self: center;
        text-align: center;
    }

    .container_actionquote {
        align-self: center;
    }

    .container_actionquote h2 {
        align-items: center;
        text-align: center;

    }

    .container_actionquote blockquote {
        text-align: center;
    }

    .container_button {
        justify-content: center;
    }
}

@media only screen and (min-width: 320px) and (max-width: 1020px) and (orientation: landscape) {

    .container {
        gap: 10vw 0;
    }

    .container h1 {
        padding-top: 9vw;
        font-size: clamp(2.5rem, -0.5172rem + 9.6552vw, 6rem);
        line-height: clamp(1.7rem, -1.1448rem + 9.1034vw, 5rem);
    }

    .container h2 {
        font-size: clamp(1rem, 0.5789rem + 2.1053vw, 2rem);
    }


    .container_actionquote blockquote {
        font-size: clamp(0.62rem, 0.4600rem + 0.8000vw, 1rem);
    }

    .container_actionquote button {
        font-size: clamp(0.62rem, 0.4600rem + 0.8000vw, 1rem);
    }
}