@keyframes load {
    0% {
        opacity: 0.08;
        filter: blur(5px);
        letter-spacing: 3px;
    }

    /* 100%{ */
    /*         opacity: 1; */
    /*         font-size: 12px; */
    /* 				font-weight:600; */
    /* 				filter: blur(0); */
    /* } */
}

.loader_container {
    width: 100dvw;
    height: 100dvh;
    background: #1e282e;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 10;
    overflow: hidden;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    z-index: 10;
    overflow: hidden;
    width: 100dvw;
    height: 100dvh;
    align-content: center;
    background: #1e282e;
    font-family: "Soulmaze";
    font-style: italic;
    animation: load 1.2s infinite 0s ease-in-out;
    animation-direction: alternate;
    text-shadow: 0 0 1px white;
    color: white;
}