.main_grid {
    width: 1080px;
    margin: 6vh auto;
}

@media screen and (max-width: 360px) and (max-height: 600px) and (orientation: portrait) {
    .main_grid {
        width: 360px;
        margin: 10vh auto auto 2vh;
        height: 100vh;
        overflow: scroll;
    }

    .alice-carousel__wrapper {
        padding-top: 20px;
    }
}

@media screen and (max-width: 640px) and (orientation: portrait){
    .main_grid {
        width: 360px;
        margin: 6vh auto;
    }
}

@media only screen and (max-width: 720px) and (orientation: landscape) {
    .main_grid {
        max-width: 720px;
        margin: 6vh auto;
    }
}

@media only screen and (max-width: 960px) and (orientation: landscape) {
    .main_grid {
        height: 100vh;
        overflow: scroll;
    }
}

@media screen and (max-width: 1024px) {
    .main_grid {
        max-width: 720px;
        margin: 6vh auto;
    }
}