.background_image {
    margin: 0;
    padding: 0;
    position: absolute;
    /* added */
    z-index: 1;
    /* added above */
    top: 0;
    left: 0;
    bottom: 0;
    /* Photo by Reed Naliboff from Unsplash: */
    background:
        url("/background-images/about-page.webp") no-repeat center center fixed;
    background-size: cover;
    object-fit: cover;
    width: 100dvw;
    height: 100dvh;

}

.background_image_with_transparency {
    margin: 0;
    padding: 0;
    position: absolute;
    /* added */
    z-index: 1;
    /* added above */
    /* Photo by Reed Naliboff from Unsplash, edited with GIMP: */
    background: url("/background-images/about-page-with-transparency.webp") no-repeat center center fixed;
    background-size: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: url("#turbulence");
}

@media only screen and (max-width: 375px) and (max-height: 690px) and (orientation: portrait) {
    .background_image_with_transparency {
        display: none;
        filter: none;
    }
}

@media only screen and (max-width: 992px) and (orientation: portrait) {
    .background_image {
        /* Photo by Reed Naliboff from Unsplash: */
        background: url("/background-images/about-page.webp") no-repeat 32% bottom fixed;
        background-size: cover;
        object-fit: cover;

    }

    .background_image_with_transparency {
        /* Photo by Reed Naliboff from Unsplash, edited with GIMP: */
        background: url("/background-images/about-page-with-transparency.webp") no-repeat 32% bottom fixed;
        background-size: cover;
        object-fit: cover;
        filter: url("#turbulence");
    }
}

@media only screen and (max-width: 690px) and (orientation: landscape) {
    .background_image_with_transparency {
        display: none;
        filter: none;
    }
}